
/* it works, so don't touch it anymore*/
.navigation-tabs__inner {
    height: 42px !important;
}

a.navigation-main__home:hover {
    background-color: #1a1a1a !important;
}


/* should have been a "lethal" function */
/* body {
    display: none !important;
} */
